[user]
	name = Corey Smedstad
	email = smedstadc@gmail.com
[push]
	default = simple
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  rb = for-each-ref --count=5 --sort=-committerdate refs/heads/ --format='%(refname:short)'
[core]
	excludesfile = /Users/smedstadc/.gitignore_global
